<nav class="navbar navbar-light bg-light">
    <a class="float-left" href="/" title="Send">Send</a>
    <a class="float-left" href="/market" title="Market">Market</a>
    <a class="float-left" href="/account" title="Account">Account</a>
</nav>