<!DOCTYPE html>
<html>
<head>
        <% include partials/head.ejs %>
</head>
<body>
    <header>
        <% include partials/header.ejs %>
    </header>
    
    <h1 class="text-center">Account 1</h1>

    <div class="container">
        <div class="row">
            <div class="col-3"> 
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Currency</th>
                            <th scope="col">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>EUR</td>
                            <td><%= account.fiat_balance %></td>
                        </tr>
                        <tr>
                            <td>XLM</td>
                            <td><%= account.crypto_balance %></td>
                        </tr>
                    </tbody>
                </table>
            </div>  
        </div>

    </div>

</body>
</html>