<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <header>
        <% include partials/header.ejs %>
    </header>
    
    <h1 class="text-center">Send</h1>

    <div class="container">
        <form action="sendmoney" method="post">
            <div class="form-row">
                <div class="form-group offset-3 col-4">
                    <input type="number" step="0.01" class="form-control" name="send_amount" placeholder="Amount (€)" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group offset-3 col-6">
                    <input type="text" class="form-control" name="send_destination" placeholder="Destination" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group offset-3 col-2">
                    <input type="text" class="form-control" name="send_memo" placeholder="Memo" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group offset-3 col-2">
                    <button type="submit" class="btn">Transfer</button>
                </div>
            </div>
        </form>
    </div>


</body>
</html>
