<!DOCTYPE html>
<html>
<head>
        <% include partials/head.ejs %>
</head>
<body>
    <header>
        <% include partials/header.ejs %>
    </header>
    
    <h1 class="text-center">Send</h1>

    <div class="container">
        <form action="send" method="post">
            <div class="form-row">
                <div class="form-group col-2 offset-2">
                    <input type="number" class="form-control" name="send_amount" placeholder="Amount" required>
                </div>
                <div class="form-group col-5">
                    <input type="text" class="form-control" name="send_destination" placeholder="Destination IBAM" required>
                </div>
                <div class="form-group col-1">
                    <button type="submit" class="btn">Transfer</button>
                </div>
            </div>
        </form>
    </div>


</body>
</html>
